<div>
    <h1 style="text-align: center">Pentest Cheatsheet</h1>
    <input id="topic-filter" class="search-bar" placeholder="Search by keywords..." autofocus="autofocus" onfocus="this.select()" type="text"/>
    <table id="topic-table">
        <tbody>
            {% for topic in site.topics %}
            <tr class="topic" title="{{ topic.title }}" tags="{% for tag in topic.tags %}{{ tag }} {% endfor %}">
                <td><a href="{{ site.baseurl }}{{ topic.url }}" class="topic-title">{{ topic.title }}</a></td>
                <td>{% for tag in topic.tags %}{{ tag }} {% endfor %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    // Hide all table rows whose titles or tags do not contain the search terms
    function filter_results() {
        var search_terms = document.getElementById("topic-filter").value.split(" ");
        var table = document.getElementById("topic-table");

        var tags, title;
        for (var i = 0, row; row = table.rows[i]; i++) {
            title = row.attributes.title.value;
            tags = row.attributes.tags.value;
            row.style.display = "";  // Visible by default

            for (var j = 0; j < search_terms.length; j++) {
                if (!title.toLowerCase().includes(search_terms[j].toLowerCase()) && !tags.toLowerCase().includes(search_terms[j].toLowerCase())) { 
                    row.style.display = "none";  // No match - hide row
                }
            }
        }
    }

    addEventListener('input', function(event){
        filter_results();
    });
</script>